        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
          crossorigin="anonymous"
        ></script>
        <div class="container fixed-bottom">
          <footer
            class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
          >
            <p class="col-md-4 mb-0 text-body-secondary">
              <!-- Copyright ©--> <%=/* new Date().getFullYear() */%>
              Not affiliated with or endorsed by Grinding Gear Games or Path of Exile 2.
            </p>
            <!-- 
              This anchor tag is the reset button in the footer that presents us with the main page we started with.
              It includes an SVG icon of a clockwise arrow to visually represent the reset action.
              Not that any data is actually being saved anywhere, but it's good to have a home button of sorts. 
            -->
            <a
              href="/"
              class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none btn btn-secondary"
            >
                Reset &nbsp;
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-clockwise"
                viewBox="0 0 16 16"
                aria-label="reset arrow"
              >
                <title>Reset Arrow</title>
                <path
                  fill-rule="evenodd"
                  d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
                />
                <path
                  d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
                />
              </svg>
            </a>
          </footer>
        </div>
      </main>
    </div>
  </body>
</html>